.WeatherApp {
  display: block;
  margin: auto;
  padding: 100px;
  max-width: 50%;
}

.mainTemp {
  font-size: 100px;
}

.minMax {
  font-size: 15px;
  text-align: center;
}

.wind,
.humidity {
  font-size: 25px;
}
.signature {
  margin-top: 35px;
}

.weatherImage {
  width: 75px;
}
